{% extends 'base.html.twig' %}

{% block stylesheet %}
    {% if app.session.get('darkMode') %}
        <link id="pageStyle"  href="{{asset('css/dark2.css')}}" media="screen, projection" rel="stylesheet" type="text/css"/>
    {% else %}
        <link id="pageStyle"  href="{{asset('css/light8.css')}}" media="screen, projection" rel="stylesheet" type="text/css"/>
    {% endif %}
{% endblock %}

{% if active is not defined %}
    {% set active = 'none' %}
{% endif %}

{% block body %}
    <header>
        {% include 'page-features/navbar.html.twig' %}
    </header>

    <div id="bottom-buttons">
        <a class="bottom-button" href="javascript:void(0);" onclick="setMainColumn()">
            <i class="fa fa-home"></i>
        </a>
        <a class="bottom-button" href="javascript:void(0);" onclick="setChatColumn()">
            <i class="fa fa-comment"></i>
        </a>
        <a class="bottom-button" href="javascript:void(0);" onclick="setFriendColumn()">
            <i class="fa fa-users"></i>
        </a>
    </div>

    <div id="page-empty">
        <img src="{{ asset('css/sprites/JustRock.png') }}" width="40%">
        <br>
        <br>
        {{ 'page.closedEverything'|trans }}
        <br>
        <br>
        {{ 'page.exceptRock'|trans }}
        <br>
        <br>
        <br>
        <br>
        {{ 'page.rockEternal'|trans }}
    </div>

    <div id="main-column">
        <div class="column-content">
            {% block content %}{% endblock %}
        </div>
    </div>
    <div id="chat-column">
        <div id="chat-column-content" class="column-content">
            {% include 'page-features/chat.html.twig' %}
        </div>
    </div>
    <div id="friend-column">
        <div class="column-content">
            {% include 'page-features/friends.html.twig' %}
        </div>
    </div>
    <script>
        const resizeWidth = 750;

        window.addEventListener('resize', function(event) {
            const width = window.innerWidth;
            const hamburgerMenu = document.getElementById("hamburger-content");
            if (width > resizeWidth) {
                hamburgerMenu.style.display = "none";
            } else {
                if (document.getElementById("main-column").style.display === "inline-block" ||
                    (document.getElementById("chat-column").style.display === "none" &&
                        document.getElementById("friend-column").style.display === "none"))  {
                    document.getElementById("main-column").style.width = "100%";
                    document.getElementById("chat-column").style.display = "none";
                    document.getElementById("friend-column").style.display = "none";
                    document.getElementById("page-empty").style.display = "none";
                } else {
                    if (document.getElementById("chat-column").style.display === "inline-block") {
                        document.getElementById("chat-column").style.width = "100%";
                        document.getElementById("main-column").style.display = "none";
                        document.getElementById("friend-column").style.display = "none";
                        document.getElementById("page-empty").style.display = "none";
                    }
                    else {
                        document.getElementById("friend-column").style.width = "100%";
                        document.getElementById("main-column").style.display = "none";
                        document.getElementById("chat-column").style.display = "none";
                        document.getElementById("page-empty").style.display = "none";
                    }
                }

            }
            resizeChat();

        }, true);

        window.addEventListener('load', function(event) {
            if (window.innerWidth > resizeWidth){
                {% if app.session.get('mainColumn') %}
                openMainColumn();
                {% endif %}
                {% if app.session.get('chatColumn') %}
                openChatColumn();
                {% endif %}
                {% if app.session.get('friendColumn') %}
                openFriendColumn();
                {% if app.session.get('incomingRequests') %}
                openIncomingRequests();
                {% endif %}
                {% if app.session.get('outgoingRequests') %}
                openOutgoingRequests();
                {% endif %}
                {% if app.session.get('friends') %}
                openFriends();
                {% endif %}
                {% endif %}
                {% if not (app.session.get('mainColumn') or app.session.get('chatColumn') or app.session.get('friendColumn'))  %}
                openEmptyPage();
                {% endif %}
            } else {
                {% if app.session.get('mainColumn') %}
                openMainColumn();
                {% elseif app.session.get('chatColumn') %}
                openChatColumn();
                {% else %}
                openFriendColumn();
                {% if app.session.get('incomingRequests') %}
                openIncomingRequests();
                {% endif %}
                {% if app.session.get('outgoingRequests') %}
                openOutgoingRequests();
                {% endif %}
                {% if app.session.get('friends') %}
                openFriends();
                {% endif %}
                {% endif %}
            }
        }, true);

        function delay(time) {
            return new Promise(resolve => setTimeout(resolve, time));
        }

        function setColumnWidths() {
            const mainColumn = document.getElementById("main-column");
            const chatColumn = document.getElementById("chat-column");
            const friendColumn = document.getElementById("friend-column");
            const pageEmpty =   document.getElementById("page-empty");

            if (mainColumn.style.display === "inline-block") {
                if (chatColumn.style.display === "inline-block") {
                    if (friendColumn.style.display === "inline-block") {
                        chatColumn.style.width = "25%";
                        friendColumn.style.width = "15%";
                        mainColumn.style.width = "60%";
                    } else {
                        chatColumn.style.width = "30%";
                        mainColumn.style.width = "70%";
                    }
                } else {
                    if (friendColumn.style.display === "inline-block") {
                        friendColumn.style.width = "25%";
                        mainColumn.style.width = "75%";
                    } else {
                        mainColumn.style.width = "100%";
                    }
                }
            } else {
                if (chatColumn.style.display === "inline-block") {
                    if (friendColumn.style.display === "inline-block") {
                        chatColumn.style.width = "60%";
                        friendColumn.style.width = "40%";
                    } else {
                        chatColumn.style.width = "100%";
                    }
                } else {
                    if (friendColumn.style.display === "inline-block") {
                        friendColumn.style.width = "100%";
                    } else {
                        pageEmpty.style.display = "block";
                    }
                }
            }
        }

        function setMainColumn() {
            fetch('{{ path('setMainColumn') }}', { method: 'POST', keepalive: true});
            openMainColumn();
        }

        function setChatColumn() {
            fetch('{{ path('setChatColumn') }}', { method: 'POST', keepalive: true});
            openChatColumn();
        }

        function setFriendColumn() {
            fetch('{{ path('setFriendColumn') }}', { method: 'POST', keepalive: true});
            openFriendColumn();
        }

        function setIncomingRequests() {
            fetch('{{ path('setIncomingRequests') }}', { method: 'POST', keepalive: true});
            openIncomingRequests();
        }

        function setOutgoingRequests() {
            fetch('{{ path('setOutgoingRequests') }}', { method: 'POST', keepalive: true});
            openOutgoingRequests();
        }

        function setFriends() {
            fetch('{{ path('setFriends') }}', { method: 'POST', keepalive: true});
            openFriends();
        }

        function openMainColumn() {
            const mainColumn = document.getElementById("main-column");
            const pageEmpty = document.getElementById("page-empty");

            if (window.innerWidth > resizeWidth) {
                if (pageEmpty.style.display === "block") {
                    pageEmpty.style.display = "none";

                    mainColumn.style.display = "inline-block";
                    mainColumn.style.width = "100%";
                } else {
                    if (mainColumn.style.display === "inline-block") {
                        mainColumn.style.display = "none";
                    } else {
                        mainColumn.style.display = "inline-block";
                    }
                    setColumnWidths();
                }
            } else {
                document.getElementById("chat-column").style.display = "none";
                document.getElementById("friend-column").style.display = "none";
                mainColumn.style.display = "inline-block";
                mainColumn.style.width = "100%";
            }
        }

        function openChatColumn() {
            const chatColumn = document.getElementById("chat-column");
            const pageEmpty = document.getElementById("page-empty");

            if (window.innerWidth > resizeWidth) {
                if (pageEmpty.style.display === "block") {
                    pageEmpty.style.display = "none";
                    chatColumn.style.display = "inline-block";
                    chatColumn.style.width = "100%";
                } else {
                    if (chatColumn.style.display === "inline-block") {
                        chatColumn.style.display = "none";
                    } else {
                        chatColumn.style.display = "inline-block";
                    }
                    setColumnWidths();
                }
            } else {
                document.getElementById("main-column").style.display = "none";
                document.getElementById("friend-column").style.display = "none";
                chatColumn.style.display = "inline-block";
                chatColumn.style.width = "100%";
            }
        }

        function openFriendColumn() {
            const friendColumn = document.getElementById("friend-column");
            const pageEmpty = document.getElementById("page-empty");

            if (window.innerWidth > resizeWidth) {
                if (pageEmpty.style.display === "block") {
                    pageEmpty.style.display = "none";
                    friendColumn.style.display = "inline-block";
                    friendColumn.style.width = "100%";
                } else {
                    if (friendColumn.style.display === "inline-block") {
                        friendColumn.style.display = "none";
                        document.getElementById('chat-bar').className = 'chat-bar friends-closed';
                    } else {
                        friendColumn.style.display = "inline-block";
                        document.getElementById('chat-bar').className = 'chat-bar';
                    }
                    setColumnWidths();
                }
            } else {
                document.getElementById("chat-column").style.display = "none";
                document.getElementById("main-column").style.display = "none";
                friendColumn.style.display = "inline-block";
                friendColumn.style.width = "100%";
            }
        }

        function openEmptyPage() {
            const pageEmpty = document.getElementById("page-empty");
            pageEmpty.style.display = "block";
        }

        function openHamburgerMenu() {
            const hamburgerMenu = document.getElementById("hamburger-content");
            if (hamburgerMenu.style.display === "block") {
                hamburgerMenu.style.display = "none";
            } else {
                hamburgerMenu.style.display = "block";
            }
        }

        function openIncomingRequests() {
            const incomingRequests = document.getElementById("incomingRequestMenu");
            const arrow = document.getElementById("incomingRequestArrow");
            if (incomingRequests.style.display === "block") {
                incomingRequests.style.display = "none";
                arrow.className = "fa fa-angle-down";
            } else {
                incomingRequests.style.display = "block";
                arrow.className = "fa fa-angle-up";
            }
        }

        function openOutgoingRequests() {
            const outgoingRequests = document.getElementById("outgoingRequestMenu");
            const arrow = document.getElementById("outgoingRequestArrow");
            if (outgoingRequests.style.display === "block") {
                outgoingRequests.style.display = "none";
                arrow.className = "fa fa-angle-down";
            } else {
                outgoingRequests.style.display = "block";
                arrow.className = "fa fa-angle-up";
            }
        }

        function openFriends() {
            const friends = document.getElementById("friendsMenu");
            const arrow = document.getElementById("friendsArrow");
            if (friends.style.display === "block") {
                friends.style.display = "none";
                arrow.className = "fa fa-angle-down";
            } else {
                friends.style.display = "block";
                arrow.className = "fa fa-angle-up";
            }
        }
    </script>
{% endblock %}