{% extends 'page.html.twig' %}

{% block title %}
    {% if ownProfile %}
        {{ 'title.yourProfile'|trans }}
    {% else %}
        {{ 'title.otherProfile'|trans({'%username%': viewedUser.username}) }}
    {% endif %}
{% endblock %}

{% if ownProfile %}
    {% set active='profile' %}
{% endif %}

{% block content %}
    <div class="profile-header">
        <div class="profile-picture-container">
            <div class="profile-picture">
                <img src="{{ asset('img/' ~ viewedUser.image) }}" width=100% height=100%>
            </div>
        </div>
        <div class="profile-info-container">
            <div class="profile-info">
                <div class="profile-username">
                    {{ viewedUser.username }}
                    {% if friendState == 'friends' %}
                        <i title="{{ 'profile.youAndUserAreFriends'|trans({'%user%': viewedUser.username}) }}"
                           style="color: #07bd16" class="fa fa-users"></i>
                    {% endif %}
                </div>
                {% if viewedUser.role == 'ROLE_ADMIN' %}
                    <div class="profile-admin">
                        <i class="fa fa-shield"></i> {{ 'profile.admin'|trans }}
                    </div>
                {% endif %}
                <div class="profile-registered">
                    {{ 'profile.memberSince'|trans }}{{ registrationDate }}
                </div>
                <div class="profile-bio">
                    {{ viewedUser.bio }}
                </div>
                <br>
                <div class="profile-button-bar">
                    {% if ownProfile %}
                        <a href="{{ path('editProfile') }}" class="profile-button">
                            {{ 'profile.editProfile'|trans }}
                        </a>
                    {% else %}
                        {% if friendState == 'incomingRequest' %}
                            <a id="profileFriendButton"
                               onclick="acceptProfileFriendRequest('{{ viewedUser.username }}','{{ viewedUser.image }}')"
                               class="profile-button">
                                {{ 'profile.acceptFriendRequest'|trans }} <i class="fa fa-plus"></i>
                            </a>
                            <a id="profileFriendButton2"
                               onclick="declineProfileFriendRequest('{{ viewedUser.username }}','{{ viewedUser.image }}')"
                               class="profile-button">
                                {{ 'profile.declineFriendRequest'|trans }} <i class="fa fa-remove"></i>
                            </a>
                        {% elseif friendState == 'outgoingRequest' %}
                            <a id="profileFriendButton"
                               onclick="revokeProfileFriendRequest('{{ viewedUser.username }}','{{ viewedUser.image }}')"
                               class="profile-button">
                                {{ 'profile.revokeFriendRequest'|trans }} <i class="fa fa-remove"></i>
                            </a>
                        {% elseif friendState == 'none' %}
                            <a id="profileFriendButton"
                               onclick="sendProfileFriendRequest('{{ viewedUser.username }}','{{ viewedUser.image }}')"
                               class="profile-button">
                                {{ 'profile.addFriend'|trans }} <i class="fa fa-plus"></i>
                            </a>
                        {% endif %}
                        <a class="profile-button" onclick="addConversation('{{ viewedUser.username }}','{{ viewedUser.image }}')">
                            {{ 'profile.message'|trans }} <i class="fa fa-comment"></i>
                        </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="profile-threads-container">
        <div class="profile-threads-title">
            {% if ownProfile %}
                {{ 'profile.yourThreads'|trans }}
            {% else %}
                {{ 'profile.usersThreads'|trans({'%username%': viewedUser.username}) }}
            {% endif %}
        </div>
        {% if viewedUser.threads|length == 0 %}
            <div class="profile-no-threads">
                {% if ownProfile %}
                    {{ 'profile.youHaveNoThreadsYet'|trans }}
                {% else %}
                    {{ 'profile.hasNoThreadsYet'|trans({'%username%': viewedUser.username}) }}
                {% endif %}
            </div>
        {% else %}
            {% for thread in viewedUser.threads %}
                <div class="thread-container">
                    <a class="thread-button" href="{{ path('viewThread', {threadId: thread.id}) }}">
                        {{ 'forum.viewThread'|trans }}
                    </a>
                    <a title="{{ thread.title }}" class="thread-title"
                       href="{{ path('viewThread', {threadId: thread.id}) }}">
                        {% if thread.title|length < 30 %}
                            {{ thread.title }}
                        {% else %}
                            {{ thread.title|slice(0,30) }}...
                        {% endif %}
                    </a>
                    <div class="thread-upload-date">
                        {{ 'forum.uploadedOn'|trans }} {{ thread.uploadDate }}
                    </div>
                    {% for tag in thread.tags %}
                        <a class="thread-tag" href="{{ path('search', {query: tag}) }}">
                            {{ tag }}
                        </a>
                    {% endfor %}
                </div>
            {% endfor %}
            <div class="forum-pages-container">
                {% if currentPage == 1 %}
                    <div class="forum-page-number-disabled">
                        <i class="fa fa-arrow-left"></i>
                    </div>
                {% else %}
                    <a class="forum-page-number"
                       href="{{ path('profile', {username: viewedUser.username, page: currentPage - 1}) }}">
                        <i class="fa fa-arrow-left"></i>
                    </a>
                {% endif %}
                {% if viewedUser.numberOfPages <= 5 %}
                    {% for page in 1..viewedUser.numberOfPages %}
                        <a class="forum-page-number{% if page == currentPage %}-selected{% endif %}"
                           href="{{ path('profile', {username: viewedUser.username, page: page}) }}">
                            {{ page }}
                        </a>
                    {% endfor %}
                {% elseif currentPage < 4 %}
                    {% for page in 1..4 %}
                        <a class="forum-page-number{% if page == currentPage %}-selected{% endif %}"
                           href="{{ path('profile', {username: viewedUser.username, page: page}) }}">
                            {{ page }}
                        </a>
                    {% endfor %}
                    <div class="forum-page-dots">
                        ...
                    </div>
                    <a class="forum-page-number"
                       href="{{ path('profile', {username: viewedUser.username, page: viewedUser.numberOfPages}) }}">
                        {{ viewedUser.numberOfPages }}
                    </a>
                {% elseif viewedUser.numberOfPages - currentPage < 3 %}
                    <a class="forum-page-number"
                       href="{{ path('profile', {username: viewedUser.username, page: 1}) }}">
                        1
                    </a>
                    <div class="forum-page-dots">
                        ...
                    </div>
                    {% for page in viewedUser.numberOfPages - 3..viewedUser.numberOfPages %}
                        <a class="forum-page-number{% if page == currentPage %}-selected{% endif %}"
                           href="{{ path('profile', {username: viewedUser.username, page: page }) }}">
                            {{ page }}
                        </a>
                    {% endfor %}
                {% else %}
                    <a class="forum-page-number"
                       href="{{ path('profile', {username: viewedUser.username, page: 1}) }}">
                        1
                    </a>
                    <div class="forum-page-dots">
                        ...
                    </div>
                    <a class="forum-page-number"
                       href="{{ path('profile', {username: viewedUser.username, page: currentPage - 1}) }}">
                        {{ currentPage - 1 }}
                    </a>
                    <a class="forum-page-number-selected"
                       href="{{ path('profile', {username: viewedUser.username, page: currentPage}) }}">
                        {{ currentPage }}
                    </a>
                    <a class="forum-page-number"
                       href="{{ path('profile', {username: viewedUser.username, page: currentPage + 1}) }}">
                        {{ currentPage + 1 }}
                    </a>
                    <div class="forum-page-dots">
                        ...
                    </div>
                    <a class="forum-page-number"
                       href="{{ path('profile', {username: viewedUser.username, page: viewedUser.numberOfPages}) }}">
                        {{ viewedUser.numberOfPages }}
                    </a>
                {% endif %}
                {% if currentPage == viewedUser.numberOfPages %}
                    <div class="forum-page-number-disabled">
                        <i class="fa fa-arrow-right"></i>
                    </div>
                {% else %}
                    <a class="forum-page-number"
                       href="{{ path('profile', {username: viewedUser.username, page: currentPage + 1 }) }}">
                        <i class="fa fa-arrow-right"></i>
                    </a>
                {% endif %}
            </div>
        {% endif %}
    </div>

    <script>
        function sendProfileFriendRequest(username, img) {
            const button = document.getElementById('profileFriendButton');
            button.innerHTML = "{{ 'profile.revokeFriendRequest'|trans }} <i class='fa fa-remove'><i>";
            button.onclick = function () {
            };
            sendFriendRequest(username, img);
            blockProfileButton();
            delay(1000).then(() => unblockRevokeRequestButton(username, img));
        }

        function acceptProfileFriendRequest(username, img) {
            document.getElementById('profileFriendButton').style.display = 'none';
            acceptFriendRequest(username, img);
        }

        function revokeProfileFriendRequest(username, img) {
            const button = document.getElementById('profileFriendButton');
            button.innerHTML = "{{ 'profile.addFriend'|trans }} <i class='fa fa-plus'><i>";
            button.onclick = function () {
            };
            revokeFriendRequest(username);
            blockProfileButton();
            delay(1000).then(() => unblockAddFriendButton(username, img));
        }

        function declineProfileFriendRequest(username, img) {
            document.getElementById('profileFriendButton2').style.display = 'none';
            declineFriendRequest(username);
            const button = document.getElementById('profileFriendButton');
            button.innerHTML = "{{ 'profile.addFriend'|trans }} <i class='fa fa-plus'><i>";
            button.onclick = function () {
            };
            blockProfileButton();
            delay(1000).then(() => unblockAddFriendButton(username, img));
        }

        function blockProfileButton() {
            const button = document.getElementById('profileFriendButton');
            button.className = 'profile-button-disabled';
            button.onclick = function () {
            };
        }

        function unblockAddFriendButton(username, img) {
            const button = document.getElementById('profileFriendButton');
            button.className = 'profile-button';
            button.onclick = function () {
                sendProfileFriendRequest(username, img);
            }
        }

        function unblockRevokeRequestButton(username, img) {
            const button = document.getElementById('profileFriendButton');
            button.className = 'profile-button';
            button.onclick = function () {
                revokeProfileFriendRequest(username, img);
            }
        }
    </script>
{% endblock %}