{% extends 'base.html.twig' %}

{% block title %}{{ 'title.register'|trans }}{% endblock %}

{% block body %}
    <div class="register">
        <div class="bgbox-white">
            <div class="middle">
                <div class="header">
                    <img src="{{ asset('css/sprites/TheRockLogoFinal.png') }}" width=50% alt="The Rock"></a>
                    <div class="quote">{{ 'login.quote' | trans }}</div>
                </div>
                <div class="box">
                    <h1 class="h1">{{ 'register.register' |trans }}</h1>
                    <div class="underline"><span></span></div>
                    {{ form_start(registrationForm) }}
                    {{ form_row(registrationForm.username, {'id' : 'username'}) }}
                    <div class="form-error">{{ form_errors(registrationForm.username) }}</div>
                    {{ form_row(registrationForm.email) }}
                    {{ form_row(registrationForm.password.first, {'id' : 'password'}) }}
                    <div class="password-instructions">
                       ({{ 'register.passwordInstructions'|trans }})
                    </div>
                    {{ form_row(registrationForm.password.second) }}
                    {{ form_row(registrationForm.bio) }}
                    {{ form_row(registrationForm.profilePicture) }}
                        <div class="button-box">
                            <div class="slight-text">
                                {{ 'register.alreadyHaveAccount' | trans }}
                                <a href="{{ path('login') }}" class="register-link">{{ 'register.loginHere'|trans }}</a>
                            </div>
                            {{ form_row(registrationForm.Submit) }}
                        </div>
                    {{ form_row(registrationForm._token) }}
                    {{ form_end(registrationForm, {render_rest: false}) }}
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
