{% extends 'base.html.twig' %}

{% block title %}{{ 'title.successfulRegistration'|trans }}{% endblock %}

{% block body %}
    <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
    <html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>MMS</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <!--[if !mso]><!-->
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <!--<![endif]-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    </head>
    <body style="Margin:0;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;min-width:100%;background-color:#ffffff;" >
    <center class="wrapper" style="table-layout:fixed;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;Margin:0 auto;width:100%;max-width:716px;" >
        <div class="webkit" style="max-width:700px;" >
            <!--[if (gte mso 9)|(IE)]>
            <table width="600" align="center" style="border-spacing:0;font-family:sans-serif;color:#333333;" >
                <tr>
                    <td style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;" >
            <![endif]-->

            <table class="outer" align="center" style="border-spacing:0;font-family:sans-serif;color:#333333;Margin:0 auto;width:100%;max-width:700px;" >
                <tr>
                    <td style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;" >
                        <table class="outer" align="center" style="border-spacing:0;font-family:sans-serif;color:#333333;Margin:0 auto;width:100%;max-width:700px;" >
                            <tr>
                                <td class="one-column" style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;" >
                                    <table width="100%" style="border-spacing:0;font-family:sans-serif;color:#333333;" >
                                        <tr>
                                            <td class="inner contents" style="padding-top:30px;padding-bottom:0;padding-right:30px;padding-left:30px;padding-bottom:30px;width:100%;text-align:center; background-color: #f9f9f9;" >
                                                <p class="h1" style="font-size:18px;font-weight:bold;Margin-bottom:18px;color:#000000;" >{{ 'registrationConfirmation'|trans }}</p>
                                                <p style='font-size:12px;'>{{ 'goBackTo'|trans }} <a href="{{ path('login') }}" style="display: inline-block; font-weight: bold; text-decoration: underline; color:#0e8488;">
                                                    {{ 'smallLogin'|trans }}.
                                                    </a>
                                                </p>
                                                <p style='font-weight: bold; font-size:12px; line-height: 18px;'>{{ 'registrationSuccessful'|trans }} <br />
                                                    {{ 'activationMessage'|trans }}
                                                </p>
                                                <p style='margin-top:20px; color: #cd0a0a; font-size: 12px;'>{{ 'welcomePitechHMS'|trans }}</p>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
            <!--[if (gte mso 9)|(IE)]>
            </td>
            </tr>
            </table>
            <![endif]-->
        </div>
    </center>
    </body>
    </html>
{% endblock %}
