{% extends 'page.html.twig' %}

{% block title %}{{ thread.title }} - The Rock{% endblock %}

{% block content %}
    {% set conversationsExist = false %}
    <div class="view-thread-bottom-white-space">
        <div class="view-thread-container">
            <div class="view-thread-title">
                {{ thread.title }}
                {% if thread.closed %}
                    <span class="view-thread-closed">
                        <i title="{{ 'viewThread.threadClosed'|trans }}" class="fa fa-check"></i>
                    </span>
                {% endif %}
            </div>
            <div class="view-thread-author">
                {{ 'viewThread.author'|trans }}: <a href="{{ path('profile', {username: thread.author}) }}"
                                                    class="view-thread-author">{{ thread.author }}</a>
            </div>
            <div class="view-thread-uploaded-on">
                {{ 'viewThread.uploadedOn'|trans }} {{ thread.uploadDate }}
            </div>
            <div class="view-thread-content">
                {% for contentBit in thread.content %}
                    <div class="view-thread-content-bit">
                        {% if (contentBit is not iterable) %}
                            {% if (contentBit[:4] == 'img:') %}
                                <img src="{{ asset('img/' ~ contentBit[4:]) }}" alt="{{ contentBit[4:] }}">
                            {% elseif (contentBit[:4] == 'txt:') %}
                                {{ contentBit[4:] }}
                            {% endif %}
                        {% else %}
                            {% set conversationsExist = true %}
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
            {% if thread.author == user.username and not thread.closed %}
                <div class="view-thread-button-bar">
                    <a href="{{ path('editThread', {threadId: thread.id}) }}" class="view-thread-submit-button">
                        {{ 'viewThread.editThread'|trans }}
                    </a>
                </div>
            {% endif %}
        </div>
        {% if conversationsExist %}
            <div class="view-thread-container">
                <div class="view-thread-title">
                    {{ 'viewThread.conversations'|trans }}
                </div>
                <div class="view-thread-content">
                    {% for contentBit in thread.content %}
                        <div class="view-thread-content-bit">
                            {% if (contentBit is iterable) %}
                                <div class="view-thread-conversation-with">
                                    {{ 'chat.conversationWith'|trans }}
                                    {% if contentBit.helper is null %}
                                        <a><span class="view-thread-anonymous">{{ 'chat.anonymous'|trans }}</span></a>
                                    {% else %}
                                        <a class="view-thread-conversation-helper" href="{{ path('profile', {username: contentBit.helper}) }}"><span class="view-thread-conversation-helper"> {{ contentBit.helper }}</span></a>
                                    {% endif %}
                                </div>
                                <div class="view-thread-conversation-container">
                                    {% for message in contentBit.messages %}
                                        <div class="chat-message">
                                            <div class="chat-message-content {% if (message[:3] == 'me:') %}me{% else %}other{% endif %}">
                                                {{ message[3:] }}
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endif %}
        <div class="view-thread-comments" id="comments">
            {% if not thread.closed %}
            <div class="view-thread-comment">
                <div class="view-thread-comment-profile-picture">
                    <img src="{{ asset('img/' ~ user.image) }}">
                </div>
                <div class="view-thread-comment-info">
                    <div class="view-thread-comment-username">
                        {{ user.username }}
                    </div>
                    {{ form_start(commentForm, {'action': path('viewThread', {threadId: thread.id})}) }}
                    <div class="view-thread-comment-content">
                        {{ form_widget(commentForm.content) }}
                    </div>
                    <div class="comment-button-bar">
                        {{ form_row(commentForm.submit) }}
                    </div>
                    {{ form_end(commentForm) }}
                </div>
            </div>
            {% endif %}
            {% if thread.comments|length == 0 %}
                <div class="view-thread-no-comments">
                    {{ 'viewThread.noComments'|trans }}
                </div>
            {% else %}
                {% for comment in thread.comments %}
                    <div id="comment{{ comment.id }}" class="view-thread-comment">
                        <div class="view-thread-comment-upload-date">
                            {{ comment.uploadDate }}
                        </div>
                        <a href="{{ path('profile', {username: comment.author}) }}"
                           class="view-thread-comment-profile-picture">
                            <img src="{{ asset('img/' ~ comment.authorImage) }}">
                        </a>
                        <div class="view-thread-comment-info">
                            <a href="{{ path('profile', {username: comment.author}) }}"
                               class="view-thread-comment-username">
                                {{ comment.author }}
                            </a>
                            <div class="view-thread-comment-content">
                                {{ comment.content }}
                            </div>
                        </div>
                        {% if (not thread.closed) and comment.author == user.username %}
                            <div class="comment-button-bar">
                                <div class="view-thread-delete-button" onclick="deleteComment('{{ comment.id }}')">
                                    {{ 'viewThread.deleteComment'|trans }}
                                </div>
                            </div>
                        {% endif %}
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>

    <script>

        function deleteComment(commentId) {
            const comment = document.getElementById("comment" + commentId);
            document.getElementById("comments").removeChild(comment);
            let url = '{{ path("deleteComment", {commentId: 'commentId'}) }}';
            url = url.replace("commentId", commentId);
            fetch(url, {method: 'POST', keepalive: true});
        }

        const tx = document.getElementsByTagName("textarea");
        for (let i = 0; i < tx.length; i++) {
            tx[i].setAttribute("style", "height:" + (tx[i].scrollHeight) + "px;overflow-y:hidden;");
            tx[i].addEventListener("input", setTextareaHeight, false);
        }

        function setTextareaHeight() {
            this.style.height = 80 + "px";
            this.style.height = (this.scrollHeight) + "px";
        }
    </script>
{% endblock %}